{% load static %}
<!doctype html>
<html>
  <head>
    <title>Todo App - list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
    <!-- script src="https://cdn.tailwindcss.com"></script -->
    <style>
      tr.htmx-swapping {
        opacity: 0;
        transition: opacity 1s ease-out;
      }
    </style>
  </head>
  <body hx-boost="true">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>ToDo App</h1>
    <p><a href="{% url 'todo:list' %}">List</a></p>
    {% block content %} {% endblock content %}
  </body>
</html>


