{% extends "todo/base.html" %}

{% block content %}
  <h2>Edit Todo</h2>
  <form action="{% url 'todo:edit' todo_id %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="save" value="Save">
  </form>

  <button hx-delete="{% url 'todo:detail' todo_id %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-target="body"
          hx-push-url="true"
          hx-confirm="Are you sure you want to delete this todo?">
    Delete Todo
  </button>

  <p>
    <a href="{% url 'todo:list' %}">Back</a>
  </p>
{% endblock content %}
