{% extends "todo/base.html" %}
{% load static %}

{% block content %}
    {% include "todo/archive_ui.html" %}
    <h2>Search</h2>
    <form action="{% url 'todo:list' %}" method="GET" class="tool-bar">
      <label for="search">Search Term</label>
      <input
        id="search"
        type="search"
        name="q"
        value="{{ search_term }}"
        hx-get="{% url 'todo:list' %}"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="tbody"
        hx-push-url="true"
        hx-indicator="#spinner"
      />
      <img
        id="spinner"
        class="htmx-indicator"
        src="{% static 'img/spinning-circles.svg' %}"
        alt="Request in flight ..."
      />
      <input type="submit" value="Search">
    </form>
    <h2>Todo List</h2>
    <p>
      <a href="{% url 'todo:new' %}">Add Todo</a>
    </p>
    <form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% include "todo/todo_rows.html" %}
      {% if todo_list.has_next %}
      <tr>
        <td colspan="4" style="text-align: center">
          <span
              hx-target="closest tr"
              hx-trigger="revealed"
              hx-swap="outerHTML"
              hx-select="tbody > tr"
              hx-get="?page={{ todo_list.next_page_number }}"
          >
          Load More
          </span>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
    <button
      hx-delete="{% url 'todo:list' %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-confirm="Are you sure you want to delete these contacts?"
      hx-target="body"
      >
      Delete Selected Todos
    </button>
    </form>
    <p> <span hx-get="{% url 'todo:count' %}" hx-trigger="revealed">
      <img id="spinner" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}" />
    </span> </p>
{% endblock content %}

