{% extends "todo/base.html" %}

{% block content %}
  <h2>New Todo</h2>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class ="fieldWrapper">
      {{ form.title.errors }}
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>
    <div class ="fieldWrapper">
      {{ form.text.errors }}
      <label for="{{ form.text.id_for_label }}">Text:</label>
      {{ form.text }}
    </div>
    <input type="submit" name="save" value="Save">
  </form>

  <p>
    <a href="{% url 'todo:list' %}">Back</a>
  </p>
{% endblock content %}
