      {% for todo_item in todo_list %}
        <tr>
          <td> {{ todo_item.id }} </td>
          <td> {{ todo_item.title }} </td>
          <td>
            <a href="{% url 'todo:edit' todo_item.id %}">Edit</a> |
            <a href="{% url 'todo:detail' todo_item.id %}">View</a> |
            <a href="#" 
               hx-delete="{% url 'todo:detail' todo_item.id %}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
               hx-swap="outerHTML"
               hx-target="closest tr"
               hx-confirm="Are you sure you want to delete this todo?">Delete</a>
          </td>
        </tr>
      {% endfor %}
